body{
    background-color: rgb(242, 239, 235);

  height: 100%;
  margin: 0;
  padding: 0;



}
.h1{
    color: black;
    

}


.box{
     height: 100vh; /* vh unit for viewport height */
  width: 100vw; /* vw unit for viewport width */
       display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px; /* optional */
   
}

.cont {
    background-color: aquamarine;
    border-radius: 2px;
    border: 2px solid black;
  }
  h3{
    color: rgb(255, 140, 87);
  }
